@using FamilyBudgetApp.Data.Enums;
@using FamilyBudgetApp.ViewModels;
@model List<TransactionViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">All transactions</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Type</th>
                        <th>CreatedOn</th>
                        <th>Reoccuring</th>
                        <th>TimesReoccured</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var trans in Model)
                        {
                            <tr>
                                <td>@trans.Name</td>
                                <td>@trans.Amount</td>
                                <td>@trans.Currency</td>
                                @if (trans.Type.ToString() == "Outcome")
                                {
                                    <td><span class="badge badge-danger"></span>@trans.Type</td>
                                }
                                else
                                {
                                    <td><span data-color="#00a65a" data-height="20"></span>@trans.Type</td>
                                }
                                <td>@trans.CreatedOn</td>
                                <td>@trans.IsReccuring</td>
                                <td>@trans.TimesReccuring</td>
                                <td>
                                    <a asp-controller="Transaction" asp-action="Edit" asp-route-id="@trans.Id" class="btn btn-outline-primary">Edit</a>
                                    <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@trans.Id" class="btn btn-outline-primary">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <div class="card-footer clearfix">
        <a asp-controller="Transaction" asp-action="Create" class="btn btn-sm btn-info float-left">New Transaction</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
    </div>

</div>
@section Scripts {

                        }