@using FamilyBudgetApp.Data.Enums;
@using FamilyBudgetApp.ViewModels;
@model List<TransactionViewModel>
@{
    ViewData["Title"] = "Home Page";
    var transs = new List<TransactionViewModel>()
    {
    new TransactionViewModel(){ Name="Water Bill",Amount=34.45M,Currency="BGN",Type="Outcome", CreatedOn=DateTime.Now,IsReccuring=true},
    new TransactionViewModel() { Name = "Electric Bill", Amount = 34.45M, Currency = "EUR", Type = "Outcome", CreatedOn = DateTime.Now, IsReccuring = false },
    new TransactionViewModel() { Name = "Phone Bill", Amount = 34.45M, Currency = "BGN", Type = "Income", CreatedOn = DateTime.Now, IsReccuring = true }
    };
}
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">All transactions</h3>

     @*   <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>*@
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Type</th>
                        <th>CreatedOn</th>
                        <th>Reoccuring</th>
                        <th>TimesReoccured</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var trans in Model)
                        {
                            <tr>
                                <td>@trans.Name</td>
                                <td>@trans.Amount</td>
                                <td>@trans.Currency</td>
                                @if (trans.Type == "Outcome")
                                {
                                    <td><span class="badge badge-danger"></span>@trans.Type</td>
                                }
                                else
                                {
                                    <td><span data-color="#00a65a" data-height="20"></span>@trans.Type</td>
                                }
                                <td>@trans.CreatedOn</td>
                                <td>@trans.IsReccuring</td>
                                <td>@trans.TimesReccuring</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <div class="card-footer clearfix">
        <a asp-controller="Transaction" asp-action="Create" class="btn btn-sm btn-info float-left">New Transaction</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
    </div>

</div>
@section Scripts {

                        }