@using FamilyBudgetApp.Common;
@using FamilyBudgetManagementApp.ViewModels;
@model BudgetViewModel;

@{
    ViewData["Title"] = "Home Page";
    var xAxis = Model.DaysJson;
    var yAxis = Model.TransactionsJson;

}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p class="text-center">
                    <strong>Statistics for this month</strong>
                </p>

                @*
                TO DO: Menu items from enum (week, month, year)
                Call ajax to get accurate stats for the selected item
                *@

                <select id="period" asp-items="Html.GetEnumSelectList<PeriodOfTime>()">
                </select>

                <div class="chart">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="myChart" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.chart-responsive -->
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h3 class="description-header">@Model.Balance</h3>
                    <span class="description-text">TOTAL BALANCE</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h3 class="description-header">@Model.TotalOutcome</h3>
                    <span class="description-text">TOTAL OUTCOME</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <h3 class="description-header">@Model.TotalIncome</h3>
                    <span class="description-text">TOTAL INCOME</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block">
                    <h3 class="description-header">@Model.TotalTransactions</h3>
                    <span class="description-text">TOTAL TRANSACTIONS</span>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-footer -->
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        let xValues = JSON.parse('@Html.Raw(xAxis)');
        let yValues = JSON.parse('@Html.Raw(yAxis)');

        const chart = new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues,
                }, {
                    type: 'line',
                    backgroundColor: "rgba(0,0,255,0)",
                    borderColor: "rgba(0,0,255,1)",
                    label: 'Line Dataset',
                    data: [50, 50, 50, 50],
                }

                ]
            },
            options: {
                legend: { display: false },
                scales: {
                    xAxes: [{ ticks: { min: 1, max: 7 } }],
                }
            }
        });

        document.querySelector("#period").addEventListener("change", function () {

            fetch('home/getchartdata/?periodOfTimeValue=' + this.value,
                {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => response.json())
                .then(datas => {
                    console.log(datas.daysJson)

                    xValues = JSON.parse(datas.daysJson)
                    yValues = JSON.parse(datas.transactionsJson)

                    chart.data = {
                        labels: xValues,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: yValues
                        }]
                    }


                    chart.update();
                })
                .catch(error => console.error('Unable to get items.', error));
        })
    </script>
    }
